.navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 10px;
}

.navbar-link {
  text-decoration: none;
  color: #333;
}

.navbar-button {
  /* padding: 8px 16px; */
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: blue;
}
